<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">




  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h2 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>Luthera
          </h2>
          <p>
            We Hope you experience the best with us!
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Quick links
          </h6>
          <p>
            <a href="books" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="favorites" class="text-reset">Favorites</a>
          </p>
          <p>
            <a href="cart" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="contact" class="text-reset">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home me-3"></i> Nairobi, Kenya</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            lutherrinta@outlook.com
          </p>
          <p><i class="fa fa-phone me-3"></i> +254 705357849</p>
          <p><i class="fa fa-print me-3"></i> +254 705357840</p>
        </div>

      </div>

    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="">Luthera</a>
  </div>

</footer>
