
<header class="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="../../../assets/bookicon.png" alt="Logo" width="44" height="38" class="d-inline-block align-text-top">
    Luthera
  </a>
<div  *ngIf="menuType ==='default'">
  <form action="" class="search-form">

    <input type="search" name="" placeholder="search here..." id="search-box">
    <label for="search-box" class="fa fa-search"></label>

  </form>
</div>
  <div class="icons">
   <div id="search-btn" class="fa fa-search"></div>
    <a href="favorites" class="fa fa-heart"></a>
    <a href="cart" class="fa fa-shopping-cart"></a>
    <div id="login-btn" class="fa fa-user-plus"  routerLink="/login"   (click)="toggleLoginForm()"></div>
  </div>
</div>
  <div class="header-1" id="navbarNav">
    <nav class="navbar">
      <a href="dashboard">Home</a>
      <a href="books">Books</a>
      <a href="contact">Contact Us</a>
      <a href="vendor">Are you a Vendor?</a>
    </nav>
  </div>

</header>
<nav class="bottom-navbar">
    <a href="dashboard" class="fa fa-home"></a>
    <a href="books" class="fa fa-book"></a>
    <a href="contact" class="fa fa-phone"></a>
    <a href="vendor" class="fa fa-user-circle"></a>
  </nav>

