<header class="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="../../../assets/bookicon.png" alt="Logo" width="44" height="38" class="d-inline-block align-text-top">
    Luthera
  </a>
  <form action="" class="search-form">
    <input type="search" name="" placeholder="search here..." id="search-box">
    <label for="search-box" class="fa fa-search"></label>
  </form>

  <div class="icons">
   <div id="search-btn" class="fa fa-search"></div>
    <a href="#" class="fa fa-heart"></a>
    <a href="#" class="fa fa-money"></a>
    <a href="#" class="fa fa-shopping-cart"></a>
    <div id="login-btn" class="fa fa-user"  routerLink="/login"   (click)="toggleLoginForm()"></div>
  </div>
</div>
  <div class="header-1" id="navbarNav">
    <nav class="navbar">
      <a href="#home">Home</a>
      <a href="">Books</a>
      <a href="">Featured</a>
      <a href="">Contact Us</a>
    </nav>
  </div>

</header>
<nav class="bottom-navbar">
    <a href="#home" class="fa fa-home"></a>
    <a href="" class="fa fa-book"></a>
    <a href="" class="fa fa-list"></a>
    <a href="" class="fa fa-phone"></a>
  </nav>
