<div class="login-form-container">
 <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
  <img id="logo" src="../../../assets/bookicon.png">
  <div id="close-login-btn" class="fa fa-times"(click)="toggleLoginForm()"></div>
  <h3>We are Luthera</h3>
 <h3>Please login to your account</h3>
    <div class="form-group">
  <span class="text-muted">Username</span>
   <input type="text" id="username" name="username" formControlName="username" placeholder="username" class="form-control">
  </div>
 <div class="form-group">
 <span class="text-muted">Password</span>
  <input type="password" id="psw" name="psw" formControlName="password" placeholder="Password" class="form-control">
  </div> <br>
  <input type="checkbox" name="" id="remember">&nbsp;
  <label for="remember">remember me</label>
<div class="row justify-content-center my-3 px-3">
  <button class="btn-block btn-color">Login to Luthera</button>
 </div>
  <div class="row justify-content-center my-2">
<p><a href="#"><small class="text-muted">Forgot Password?</small></a></p>
 </div>
<div class="bottom text-center mb-5">
   <p> <a href="#" class="sm-text mx-auto mb-3">Don't have an account?</a>
<br/>
 <button routerLink="/signup" class="btn btn-white ml-2">Create one</button></p>
</div>
</form>
   </div>
