<div class="contain">

  <div class="wrapper">

    <div class="form">
      <h4>GET IN TOUCH</h4>
      <h2 class="form-headline">Send us a message</h2>
      <form id="submit-form" action="" #loginForm [formGroup]="getInTouch" (ngSubmit)="reset()">
        <p>
          <input id="name" class="form-input" type="text" placeholder="Your Name*" formControlName="fullname">
          <small class="name-error"></small>
        </p>
        <p>
          <input id="email" class="form-input" type="email" placeholder="Your Email*" formControlName="email">
          <small class="name-error"></small>
        </p>
        <p class="full-width">
          <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required formControlName="message"></textarea>
          <small></small>
        </p>
        <p class="full-width">
          <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by call / email about Company's services.
        </p>
        <p class="full-width">
          <input type="submit" class="submit-btn" value="Submit">
          <button class="reset-btn" (click)="reset()">Reset</button>
        </p>
      </form>
    </div>

    <div class="contacts contact-wrapper">

      <ul>
        <li>We are always available <span class="highlight-text-grey">
            </span> for our clients. Ready to ask
          how we can help you?</li>
        <span class="hightlight-contact-info">
          <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> lutherrinta@outlook.com</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text">+254 705357840</span></li>
        </span>
      </ul>
    </div>
  </div>
</div>

