<div class="login-form-container">
  <form>
   <img id="logo" src="../../../assets/bookicon.png">
   <div id="close-login-btn" class="fa fa-times" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ></div>
   <h3>We are Luthera</h3>
  <h3>Thank you For purchasing Our books</h3>
  <div class="">
    <p>Your book will be shipped to you within no time!<br>
    Kindly check your email for your receipt</p>
   <!--<button class="btn2" (click)="viewReceipt()">Click here to View Receipt</button>-->
  </div>
 </form>
    </div>
