
body {
  color: #000;
overflow-x: hidden;
 background-image: linear-gradient(to right, #D500F9, #FFD54F);
 background-repeat: no-repeat;

}
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, green 30%, #fff 30.1%);
  height: 100%;
  width: 100%;
  transition: transform 0.3s;
  transform: translateX(0%);
}
p{
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
}


.login-form-container form{
  background: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  margin: 2rem;
}
.login-form-container form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.login-form-container form span{
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.login-form-container #close-login-btn{
  font-size: 3rem;
  top: -5.5rem;
  right: -1.5rem;
  position: relative;
  color: #000;
  cursor: pointer;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

#logo {
  width: 70px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
@media(max-width:991px){
  html{font-size: 55%;
}
}
@media(max-width:768px){
html{
  scroll-padding-top: 0;
}
body{
  padding-bottom: 6rem;
}
}
@media(max-width:450px){
  html{font-size: 50%;
}
}
