section{
  padding: 5rem 9%;
}

.home{
  //background: url(../../assets/bookcovers/cover4.avif) no-repeat;
  background-size: cover;
  background-position: center;

}
.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home .row .content{
  flex: 1 1 42rem;
}
.home .row .books-slider{
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}
.home .row .books-slider a img{
  height: 25rem;
}
.home .row .books-slider a:hover img{
  transform: scale(.9);
}
.home .row .content h3{
  color: #000;
  font-size: 4.5rem;
}
.home .row .content p{
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.swiper {
  width: 600px;
  height: 300px;
}
@media(max-width:768px){
  html{
    scroll-padding: 0;
  }
  body{
    padding-bottom: 6rem;
  }
}
@media(max-width:991px){
  html{font-size: 55%;
}
.section{
  padding: 3rem 2rem;
}
.home .row .content{
  text-align: center;
}
.home .row .content h3{
  font-size: 3.5rem;
}
}

@media(max-width:450px){
  html{font-size: 50%;
}
}





