

<section class="home" id="home" >
<div class="row">
  <div class="content">
    <h3>upto 20% off</h3>
    <p>We love providing our customers with the best discounts
      available!
    </p>
    <a href="books" class="btn2">buy now</a>
  </div>
  <div #booksSlider class="swiper books-slider">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover2.jpg" alt=""></a>
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover12.jpg" alt=""></a>
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover8.jpg" alt=""></a>
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover11.jpg" alt=""></a>
      <a href="#" class="swiper-slide" ><img src="../../../assets/bookcovers/cover10.jpg" alt=""></a>
    </div>


    <hr>
  </div>
</div>

</section>
<section class="icons-container">
  <div class="icons">
    <i class="fa fa-plane"></i>
    <div class="content">
      <h3>Free Shipping</h3>
      <p>order over Kshs.1000</p>
    </div>
  </div>
  <div class="icons">
    <i class="fa fa-lock"></i>
    <div class="content">
      <h3>Secure Payment</h3>
      <p>Use our e-wallet for the best experience</p>
    </div>
    </div>
    <div class="icons">
      <i class="fa fa-repeat"></i>
      <div class="content">
        <h3>Easier Returns</h3>
        <p>10 day return period</p>
      </div>
      </div>
      <div class="icons">
        <i class="fa fa-mobile"></i>
        <div class="content">
          <h3>24/7 support</h3>
          <p>call us or text us anytime</p>
        </div>
        </div>
</section>
<section class="featured">
  <h1 class="heading"><span>featured books</span></h1>
  <div #featuredSlider class=" swiper featured-slider">
    <div class=" swiper-wrapper">
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover3.png" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover12.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover13.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">
          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover1.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">a>
          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover2.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover4.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover5.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>
      <div class=" swiper-slide box">
        <div class="icons">

          <a href="#" class="fa fa-heart"></a>
          <a href="books" class="fa fa-eye"></a>
        </div>
        <div class="image">
          <img src="../../../assets/bookcovers/cover14.jpg" alt="">
        </div>
        <div class="content">
          <h3>featured books</h3>
          <div class="price">Kshs.50 <span>Kshs.150</span></div>
          <a href="#" class="btn">buy book</a>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="subscription">
  <form action="">
    <h3>subscribe for latest updates</h3>
    <input type="email" name="" placeholder="enter your email" id="" class="box">
    <input type="submit" value="subscribe" class="btn2">
  </form>
</section>

<section class="newarrivals" id="arrivals">
  <h1 class="heading"><span>New Arrivals</span></h1>
  <div class=" swiper arrivals-slider" #arrivalsSlider>
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="../../../assets/bookcovers/cover5.jpg" alt="">
        </div>
        <div class="content">
          <h3>New Arrivals</h3>
          <div class="price">Kshs.250</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>

          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="../../../assets/bookcovers/cover6.jpg" alt="">
        </div>
        <div class="content">
          <h3>New Arrivals</h3>
          <div class="price">Kshs.250</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>

          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="../../../assets/bookcovers/cover7.png" alt="">
        </div>
        <div class="content">
          <h3>New Arrivals</h3>
          <div class="price">Kshs.250</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>

          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="../../../assets/bookcovers/cover8.jpg" alt="">
        </div>
        <div class="content">
          <h3>New Arrivals</h3>
          <div class="price">Kshs.250</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>

          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide box">
        <div class="image">
          <img src="../../../assets/bookcovers/cover9.jpg" alt="">
        </div>
        <div class="content">
          <h3>New Arrivals</h3>
          <div class="price">Kshs.250</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>

          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="deal">
  <div class="content">
    <h3>Deal of the day</h3>
    <h1>Upto 35% off</h1>
    <p>As a company we endevour to provide our customers with the best
      deals available. Each day we provide readers with a books
      that is upto 35% off. Feel free to shop with us anyday!
    </p>
    <button routerLink="/books" class="btn2">Buy now</button>
  </div>
  <div class="image">
    <img src="../../../assets/bookcovers/cover10.jpg" alt="">

  </div>
  <div class="image"></div>
</section>
