<section class="home" id="home" >
<div class="row">
  <div class="content">
    <h3>upto 20% off</h3>
    <p>We love providing our customers with the best discounts
      available!
    </p>
    <a href="#" class="btn">buy now</a>
  </div>
  <div class="books-slider">
    <div class="wraper">
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
      <a href="#"><img src="../../../assets/bookcovers/cover3.png" alt=""></a>
    </div>
  </div>
</div>

</section>
